{
	"extends": "airbnb",
	"env": {
		"node": true,
		"es6": true,
		"browser": true
	},
	"rules": {
		"indent": ["error", "tab"],
        "no-tabs": 0,
        "react/prop-types": 0,
        "react/jsx-indent": [2, "tab"],
		"react/jsx-indent-props": [2, "tab"],
		"react/jsx-filename-extension": 0,
		"react/react-in-jsx-scope": 0,
		"no-undef": 1,
		"no-unused-vars": 1,
		"globals": {
			"wp": false
		}
	}
}